@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");
* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

input {
  font-size: 16px;
}

.wrapper {
  margin: 6rem auto;
  height: 800px;
  width: 1200px;

  &__title {
    height: 100px;
    width: 1200px;
    border: 2px solid #848fa1;
    border-radius: 15px;
    background: #cae9fd;
    font-weight: 700;
    letter-spacing: 1.5px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    color: rgb(20, 20, 119);
  }
  &__form {
    margin: 2rem auto 3rem;
    height: 100px;
    width: 1200px;
    border: 2px solid #848fa1;
    border-radius: 15px;
    background: #ebfef2;

    display: flex;
    align-items: center;
    justify-content: space-around;
    &__button {
      background: #49525d;
      border: 2px solid black;
      border-radius: 10px;
      color: white;
      font-size: 15px;
      height: 37px;
      width: 150px;
    }
    input {
      border: 1.5px solid rgb(97, 97, 97);
      border-radius: 10px;
      height: 37px;
    }
    span {
      color: #444d59;
      font-size: 20px;
    }
    select {
      border: 1.5px solid rgb(97, 97, 97);
      border-radius: 10px;
      height: 37px;
      width: 150px;
    }
  }
}

.boxOfResult {
  display: flex;
  justify-content: space-between;

  &__activities {
    margin: 0;
    width: 850px;
    // background: rgba(137, 255, 235, 0.11);
    height: 550px;
  }
  &__result {
    margin: 0;
    width: 350px;
    // background: rgba(222, 137, 255, 0.11);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__longest {
      width: 350px;
      background: rgba(53, 241, 28, 0.205);
      height: 250px;
      border: 2px solid rgba(97, 97, 97, 0.904);
      border-radius: 15px;
    }
    &__totalDistance {
      width: 350px;
      background: rgba(218, 253, 23, 0.342);
      height: 120px;
      border: 2px solid rgba(97, 97, 97, 0.904);
      border-radius: 15px;
      font-size: 21px;
      // font-weight: 600;
      display: flex;

      justify-content: center;
      flex-direction: column;
      &__longestRun {
        width: 350px;
        display: flex;
        justify-content: space-around;
        color: rgb(105, 78, 1);
      }
      &__longestRide {
        margin-bottom: 8px;
        width: 350px;
        display: flex;
        justify-content: space-around;
        color: rgb(105, 78, 1);
      }
    }
  }
}

.list {
  margin: 0;
  padding: 0;
  width: 800px;
  list-style: none;

  &__OneOfActivity {
    margin-bottom: 20px;
    height: 50px;
    width: 800px;
    background: rgba(207, 250, 15, 0.144);
    border: 1.5px solid rgb(97, 97, 97);
    border-radius: 5px;
    display: flex;
    color: rgb(7, 75, 1);

    justify-content: space-around;
    align-items: center;

    font-size: 20px;
    &__data {
      width: 145px;
    }
    &__Tipe {
      width: 80px;
    }
    &__distance {
      width: 85px;
    }
    &__time {
      width: 110px;
    }
    &__speed {
      width: 140px;
    }
  }
}
